<div class="form-container">
  <a routerLink="/login" id="goback">Go back</a>
  <h2>Custom Login</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form (ngSubmit)="onSubmit($event)">

    <mat-form-field class="full-width">
      <input matInput placeholder="Email" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{ getErrorMessageForUsername() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput id="password" type="password" placeholder="Password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{ getErrorMessageForPassword() }}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="username.invalid || password.invalid">
      Login
    </button>
  </form>
</div>